.input-label-container{
    width: 100%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    position: relative;
}
.input-label-container label{
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.input-label-container label span{
    position: relative;
}
.input-label-container label.mandatory span:after{
    content: '*';
    position: absolute;
    top: -5px;
    right: -10px;
}
.input-label-container input{
    position: relative;
    width: 100%;
    font-family:'Roboto Condensed';
    border: 0;
    border-bottom: 1px solid #e2e2e2;
    font-size: 1rem;
    line-height: 2;
}
.position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bar
{ 
    position: relative;
    display: block;
    width: 100%; 
}
.bar:before, .bar:after{
    content:'';
    height:2px; 
    width:0;
    bottom:0px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

/* Error state for input based on validation */

/* .input-label-container.error input:focus ~ .bar:before,.input-label-container.error input:focus ~ .bar:after{
    background: red;
} */

.input-label-container.error .error-message{
    position: absolute;
    bottom: -15px;
    font-size: 10px;
    color: red;
}

/* End of styling for Error state for input based on validation */

.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}

/* active state */
.input-label-container input:focus ~ .bar:before, .input-label-container input:focus ~ .bar:after {
    width:50%;
}

.input-label-container input:focus{
    outline: none;
    /* border: transparent;r */
}
@-webkit-keyframes flash_border {
    0% {
      border-color: red;
    }
    50% {
      border-color: black;
    }
    100% {
      border-color: red;
    }
  }

.primary-button{
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 0;
    width: 100%;
    margin-top: 1rem;
    background: #fc0;
    cursor: pointer;
    border: 0;
}
.primary-button:focus{
    outline: none;
}
.primary-button:active{
    border-style: none;
}
.primary-button.disabled{
    opacity: 0.3;
    pointer-events: none;
}

.shake-animation.active {
    animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.card-layout {
    width: 15rem;
    margin-left: 15px; 
    background-color: #f4f4f4;
}

.card-img {
    width: 100px;
    height: 115px;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 28%;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-6px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(6px, 0, 0);
    }
}

.page-title{
    margin: 0;
    text-align: center;
}
.reset-password-anchor{
    text-align: center;
    padding: 1rem 0;
}
.flex-container{
    display: flex;
    flex-direction: row;
}
.grid{
    width: 100%;
    margin: 0 auto;
}

/* Modal Window Classes */
.modal-bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
    z-index: 10;
}
.modalWindow.hidden{
    display: none;
}
.modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
}
.modal-container-animation{
    animation: zoom 0.4s ease-in-out;
}
.modal-content-container{
    width: 50vh;
    height: 40vh;
    background: #fff;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.modal-window-header{
    position: relative;
}
.modal-window-img{
    width: 50px;
    display: flex;
    flex-direction: row;
    align-self: center;
}
.closeModal-icon{
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (min-width: 768px){
    .grid{
        width: 960px;
    }
    .modal-window-img{
        width: 75px;
    }
}

@keyframes zoom {
    /* 0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.25);
    }

    50% {
        transform: scale(0.5);
    }

    75% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    } */
    from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
}

/* Spinner CSS Styles */
.spinner-component{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.spinner-background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.5;
    z-index: 10;
}
.spinner-component .spinner-border{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    width: 4rem;
    height: 4rem;
}
.about-us-tile{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
    text-align: center;
    background: #aff5f2;
    border: 1px solid #fff;
    overflow: hidden;
    cursor: pointer;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
}
.about-us-tile img{
    width: 100px !important;
    height: 100px;
    object-fit: contain;
}
.about-us-tile *{
    display: flex;
    flex: 1;
    align-items: center;
    transition: transform 0.5s;
}
.aboutUs-card{
    padding: 0.25rem;
    flex: 1;
    transition:
        font-size 0.4s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.4s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}
.tile-image{
    transform: translateY(-100%);
}
.tile-desc{
    transform: translateY(100%);
}

.aboutUs-card.active{
    flex: 5;
}
.aboutUs-card.active .tile-desc, .aboutUs-card.active .tile-image{
    transform: translateY(0);
}

