.services-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    height: 75vh;
    overflow: hidden;
    overflow-y: scroll; 
}
.service-tile{
    display: flex;
    flex: 1;
    margin: 16px;
    min-height: 400px;
    transition: all 0.4s ease-in;   
}

.service-tile.flipped .flipcard-front{
    transform: rotateY(180deg);
}
.service-tile.flipped .flipcard-back{
    transform: rotateY(0);
}
.service-details{
    padding: 0 1rem;
}
.flipcard-back .service-details{
    padding: 1rem;
    position: relative;
}
.service-details *{
    overflow: hidden;
    white-space: nowrap;
}

.service-details h1{
    font-weight: bold;
    font-size: 20px;
}

.service-details h1:last-of-type{
    margin-top: 10px;
}

.close-tile{
    position: absolute;
    top: 0.5rem;
    transform: scale(1.5);
    right: 1rem;
}

.service-tile-content-container{
    display: flex;
    flex: 1;
    perspective: 1000px;
    position: relative;
    
    cursor: pointer;
}
.services-list-container{
    display: flex;
    padding: 0;
    flex-direction: column;
    position: relative;
    flex: 1;
}
.service-img-container{
    width: 30%;
    padding: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
}
.service-img-container img{
    width: 50px;
    max-width: 50px;
    
}
.service-desc-container{
    width: 70%;
    padding: 20px;
    text-align: left;
}
.service-desc-container h1{
    text-transform: uppercase;
    font-size: 1.5rem;
}
.main-search{
    width: 80%;
    margin: 0 auto;
}
.filter-container{
    list-style-type: none;
    padding: 0;
}
.filter-container li{
    display: flex;
    flex-direction: row;
    font-weight: 300;
}
.filter-container input{
    margin-right: 10px;
}
.filter-list{
    display: none;
}
.action-btn{
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 0;
    width: 100%;
    margin-top: 40px;
    background: #fc0;
    cursor: pointer;
}
.user-avatar{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.header-align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-avatar img{
    width: 40px;
    cursor: pointer;
}
.create-service-form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.further-info{
    margin: 2rem 0 0 0;
    text-align: center;
    display: block;
    text-decoration: underline;
}

.service-tile .action-btn{
    margin-top: 16px;
}

.flipcard-front,.flipcard-back{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform ease-in-out 600ms;
}

.service-tile-outter-container{
    padding: 1rem;
    background: #fff;
    border: 0.5px solid #eee;
    border-radius: 8px;
    flex-direction: row;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.service-tile-outter-container.flipcard-back{
    flex-direction: column;
}

.flipcard-back{
    transform: rotateY(-180deg);
}

.service-filter-panel{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 0 1rem;
}
.filter-header{
    display: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 0 1rem 0 1rem;
    text-align: center;
    margin: 1rem 0;
}

.service-filter-panel ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.filter-tab{
    padding: 1rem 1rem;
    cursor: pointer;
    margin: 1rem 0;
    margin: 5px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex: 1 1;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 8px;
}
.filter-tab.active{
    background: #fc0;
    font-weight: bold;
}

.filter-create-service{
    display: block;
    margin: 1rem 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.service-tile-status{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0.5rem;
    color: white;
    border-radius: 9px;
}

.services-container .no-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.in-progress{
    background: blue;
}
.completed{
    background: red;
}
.new{
    background: green;
}

@media screen and (min-width: 768px){
    .filter-header{
        display: flex;
    }
    .filter-tab{
        margin: 1rem 0;
    }
    .service-tile-status{
        left: auto;
        right: 1rem;
    }
    .filter-create-service{
        display: block;
        margin: 2rem 0 1rem 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    /* Create Service Form */
    .create-service-form{
        text-align: left;
        width: 60%;
        margin: 0 auto;
    }
    
    /* Service Page container styles */
    .service-page-container{
        max-width: 1080px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
    }
    .filters-container{
        flex-basis: 20%;
        display: flex;
    }
    .services-container{
        flex-basis: 80%;
        display: flex;
        flex-wrap: wrap;
        height: 75vh;
        overflow: hidden;
        overflow-y: scroll; 
    }
    .services-list-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .services-list{
        width: 80%; /* The Actual Service tiles Container - Occupies 80% of the main-container(3) width */
    }
    .filter-list{
        width: 20%; /* The Filters section - Occupies 20% of the main-container(3) width */
    }
    .service-tile{
        flex-basis: 50%;
        min-height: 400px;
        max-width: 50%;
        /* margin: 1rem 0; */
        margin: 0;
        padding: 1rem;
    }
    .service-tile-content-container{
        margin: 0;
        flex-direction: column;
        /* min-height: 200px; */
        /* min-height: 400px; */
    }
    
    .service-img-container{
        width: 100%;
    }
    .service-desc-container{
        width: 100%;
        padding: 20px 0;
    }
    .service-desc-container h1{
        /* text-align: center; */
    }
    .filter-list{
        display: block;
    }
    .filter-list h1{
        margin-bottom: 16px;
    }
    input.search-bar{
        padding-left: 1rem;
    }
    .main-grid{
        width: 960px;
        margin: 0 auto;
    }
    /* .service-tile:hover{
        transform: scale(1.05)
    } */
    .hamburger{
        display: none;
    }
    .hdr-navigation-menu{
        display: flex;
    }
    .hdr-navigation-menu ul{
        display: flex;
        flex-direction: row;
        flex: 1;
        flex-basis: 10%;
        list-style-type: none;
        margin: 0;
        align-self: center;
    }
    .service-tile-outter-container{
        flex-direction: column ;
    }
    .service-tile-outter-container.flipcard-back{
        flex-direction: column;
    }
}