.footer-sub-container {
    padding: 1%;
    width: 100% !important;
    max-width: 100% !important;
    background: #fc0;
}

.footer-row {
    padding: 5px 24px !important;
}

.contact-link {
    text-align: right;
    color: black;
    padding: 0% !important;
}
